body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #aaa;
}

#wrapper {
  width: 850px;
  height: 600px;
  overflow: hidden;
  margin: 80px auto 0 auto;
  box-shadow: 3px 3px 3px #666;
}

/* styles for print layout */
#wrapper.nohide {
  overflow: auto;
  height: auto;
  box-shadow: none;
}

#wrapper.nohide .slide {
  margin-bottom: 30px;
}
/* /styles */

.slide {
  width: auto;
  height: 540px;
  padding: 30px;
  font-weight: 200;
  font-size: 32px;
  line-height: 44px;
  background-color: #eee;
}

#controls {
  width: 850px;
  margin: -60px auto 0 auto;
}

#controls div {
  width: 50px;
  height: 50px;
  padding: 5px 50px;
  font-size: 36px;
  background-color: #ccc;
}

#controls div:hover {
  background-color: #bbb;
  cursor: pointer;
}

#controls #prev {
  float: left;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;

  /* Fix selection bug */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#controls #next {
  float: right;
  text-align: right;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;

  /* Fix selection bug */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 30px;
}

.slide h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 200;
}

.slide h3 {
  font-size: 45px;
  border-bottom: 1px solid #aaa;
  margin: 0;
  padding-bottom: 15px;
}

.slide ul {
  padding: 20px 0 0 60px;
  font-weight: 200;
  font-size: 32px;
  line-height: 44px;
}

.slide .author h1.name {
  font-size: 55px;
  font-weight: 200;
  text-align: center;
  margin-top: 185px;
  margin-bottom: 30px;
}

.slide .author h3 {
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  border: none;
}

a {
  text-decoration: none;
  color: #44a4dd;
}

a:hover {
  color: #66b5ff;
}

code {
  background-color: #ccc;
}

pre > code {
  background-color: inherit;
  font-size: 60%;
  line-height: 1.3;
}

.hidden {
  display: none;
}

