body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #f7f7f7;
}

#wrapper {
  width: 850px;
  height: 600px;
  overflow: hidden;
  margin: 80px auto 0 auto;
}

/* styles for print layout */
#wrapper.nohide {
  overflow: auto;
  height: auto;
  box-shadow: none;
}

#wrapper.nohide .slide {
  margin-bottom: 30px;
}
/* /styles */

.slide {
  width: auto;
  height: 540px;
  padding: 30px;
  font-weight: 200;
  font-size: 32px;
  line-height: 44px;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.controls .arrow {
  width: 0; height: 0;
  border: 30px solid #333;
  float: left;
  margin-right: 30px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;all
}

.controls .prev {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;

  border-left-width: 0;
  border-right-width: 50px;
}

.controls .next {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;

  border-left-width: 50px;
  border-right-width: 0;
}

.controls .prev:hover, .controls .prev.active {
  border-right-color: #888;
  cursor: pointer;
}

.controls .next:hover, .controls .next.active {
  border-left-color: #888;
  cursor: pointer;
}

.slide h1 {
  font-size: 100px;
  line-height: 1.2;
  text-align: center;
  margin: 140px 0 0;
}

.slide h2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 5px 0;
  text-align: center;
  font-weight: 200;
}

.slide h3 {
  font-size: 45px;
  line-height: 1.2;
  border-bottom: 1px solid #aaa;
  margin: 0;
  padding-bottom: 15px;
}

.slide ul {
  padding: 20px 0 0 60px;
  font-weight: 200;
  font-size: 32px;
  line-height: 44px;
}

.slide .author h1.name {
  font-size: 55px;
  font-weight: 200;
  text-align: center;
  margin-top: 185px;
  margin-bottom: 30px;
}

.slide .author h3 {
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  border: none;
}

a {
  text-decoration: none;
  color: #44a4dd;
}

a:hover {
  color: #66b5ff;
}

pre {
  font-size: 60%;
  line-height: 1.3;
}

code {
  background-color: #e7e7e7;
}

pre > code {
  background-color: inherit;
}

.progress {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 3px;
}

.progress-bar {
  width: 0%;
  height: 3px;
  background-color: #b4b4b4;

  -webkit-transition: width 0.1s ease-out;
  -moz-transition: width 0.1s ease-out;
  -o-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
}
