body {
  background-color: #222;
  color: #eee;
}

h1, h3 {
  font-family: Impact;
  font-weight: bold;
  font-style: italic;
}

pre code {
  color: #ccc;
  font-size: 140%;
}

.slide {
  background-color: inherit;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: inherit;
}

em {
  border-bottom: 1px solid #666;
}
