<section class="slide video">
	<center>
		<video class="video-js vjs-default-skin" controls
		  preload="auto" width="auto" height="500" data-setup="{}">
			{{#sources}}
			  <source src="{{{url}}}" type='video/{{{type}}}'>
			{{/sources}}
		</video>
	</center>
</section>
