<div class="author">
  <h1 class="name">{{name}}</h1>
  <h3 class="twitter">
    <a href="http://twitter.com/{{{twitter}}}" tabindex="-1">{{{twitter}}}</a>
  </h3>
  <h3 class="url">
    <a href="{{{url}}}" tabindex="-1">{{{url}}}</a>
  </h3>
</div>
