<div class="author">
  <h1 class="name">{{name}}</h1>
  {{#twitter}}
    <h3 class="twitter">
      <a href="http://twitter.com/{{{twitter}}}">{{{twitter}}}</a>
    </h3>
  {{/twitter}}
  {{#url}}
    <h3 class="url">
      <a href="{{{url}}}">{{{url}}}</a>
    </h3>
  {{/url}}
  {{#email}}
    <h3 class="email">
      <a href="mailto:{{{email}}}">{{{email}}}</a>
    </h3>
  {{/email}}
</div>
