{{#progress}}
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
{{/progress}}

{{#slides}}
  <div class="slide{{#hidden}} hidden{{/hidden}}{{#classList}} {{classList}}{{/classList}}" id="slide-{{id}}">
    <section class="slide-content">{{{content}}}</section>
  </div>
{{/slides}}

{{#controls}}
  <div class="controls">
    <div class="arrow prev"></div>
    <div class="arrow next"></div>
  </div>
{{/controls}}
