<div id="wrapper">
  {{#slides}}
    <section class="slide">{{{.}}}</section>
  {{/slides}}
</div>
{{#controls}}
  <div id="controls">
    <div id="prev">&larr;</div>
    <div id="next">&rarr;</div>
  </div>
{{/controls}}

<script type="text/javascript">
  {{{navigation}}}
</script>
