<html>
<head>
  <title>{{title}}</title>
  <style type="text/css">
    {{#styles}}
      {{{.}}}
    {{/styles}}
  </style>
</head>
<body>
  <div id="wrapper">
    {{#slides}}
      {{{.}}}
    {{/slides}}
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $('section').each(function(i, v) {
        if (i)
          $(v).hide();
        else
          $(v).addClass('active');
      });

      $(document).on('keydown', function(e) {
        var curr = $('section.active');
        var kc = e.keyCode;

        // left, down, H, J, backspace
        if (kc == 37 || kc == 40 || kc == 8 || kc == 72 || kc == 74) {
          if (!curr.prev().length) {
            $('section:last').show().addClass('active');
          } else {
            curr.prev().show().addClass('active');
          }
        } else {
          // everything else
          if (!curr.next().length) {
            $('section:first').show().addClass('active');
          } else {
            curr.next().show().addClass('active');
          }
        }

        curr.hide().removeClass('active');
      });
    });
  </script>
</body>
</html>
