body {
  background-color: #666;
  color: #ddd;
}

#wrapper {
  box-shadow: 3px 3px 3px #000;
}

section {
  background-color: #333;
}

#controls div {
  background-color: #444;
}

#controls div:hover {
  background-color: #555;
}

code {
  background-color: #777;
}
